<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentManagement">
        <services>
            <register serviceType="Sitecore.XA.Feature.ErrorHandling.IStaticErrorPageRenderer, Sitecore.XA.Feature.ErrorHandling" set:implementationType="Sitecore.Support.XA.Feature.ErrorHandling.StaticErrorPageRenderer, Sitecore.Support.374131" />
        </services>
    </sitecore>
</configuration>

